import 'package:json_annotation/json_annotation.dart';
{{#imports}}
import '{{.}}.dart';
{{/imports}}

part '{{classname}}.g.dart';

@JsonSerializable(includeIfNull: false, explicitToJson: true)
class {{classname}} {
  {{#vars}}{{#description}}/// {{{description}}}{{/description}}
  {{{datatype}}} {{name}};
  {{#allowableValues}}{{#min}} // range from {{min}} to {{max}}{{/min}}//{{^min}}enum {{name}}Enum { {{#values}} {{.}}, {{/values}} };{{/min}}{{/allowableValues}}
  {{/vars}}
  
  {{^vars}}
  {{classname}}();
  {{/vars}}
  
  {{#hasVars}}
  {{classname}}({
  	{{#vars}}
  	this.{{name}},
  	{{/vars}}
  });
  {{/hasVars}}

  @override
  String toString() {
    return '{{classname}}[{{#vars}}{{name}}=${{name}}, {{/vars}}]';
  }
  
  ///
  /// Json to Location object
  ///
  factory {{classname}}.fromJson(Map<String, dynamic> json) =>
      _${{classname}}FromJson(json);

  ///
  /// Location object to json
  ///
  Map<String, dynamic> toJson() => _${{classname}}ToJson(this);
  
}
